<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  <display-name>SJW</display-name>

  <!-- This servlet will redirect requests to MarkLogic server -->
  <servlet>
    <servlet-name>MarkLogicProxy</servlet-name>
    <servlet-class>org.eclipse.jetty.proxy.ProxyServlet$Transparent</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>proxyTo</param-name>
      <param-value>http://localhost:8003</param-value>
    </init-param>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>/marklogic</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkLogicProxy</servlet-name>
    <url-pattern>/marklogic/*</url-pattern>
  </servlet-mapping>

  <!-- This is a servlet for .xql files -->
  <servlet>
    <servlet-name>KawaPageServlet</servlet-name>
    <servlet-class>gnu.kawa.servlet.KawaPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KawaPageServlet</servlet-name>
    <url-pattern>*.xql</url-pattern>
  </servlet-mapping>

</web-app>